# ===== OS =====
.DS_Store
Thumbs.db

# ===== Python =====
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# ===== TouchDesigner =====
TD/Backup/
**/*.toe~

# ===== Your excluded folders =====
Thesis Paper/
Video Research/

# ===== Unity (nested project safe) =====
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
*.log

# Rider / VS cache
.vs/
.gradle/
**/*.csproj
**/*.sln
**/*.unityproj
**/*.user
**/*.userprefs
**/*.suo
**/*.tmp

# Unity crash / misc
sysinfo.txt
mono_crash.*